{% extends "BukminPanelBundle:Ban:layout.html.twig" %}

{% block bukminpanel_body %}
  <h1>Ban list</h1>

  <table class="records_list">
      <thead>
          <tr>
              <th>Id</th>
              <th>Reason</th>
              <th>Expire</th>
              <th>Active</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
      {% for entity in entities %}
          <tr>
              <td><a href="{{ path('ban_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
              <td>{{ entity.reason }}</td>
              <td>{% if entity.expire %}{{ entity.expire|date('Y-m-d H:i:s') }}{% endif %}</td>
              <td>{{ entity.active }}</td>
              <td>
                  <ul>
                      <li>
                          <a href="{{ path('ban_show', { 'id': entity.id }) }}">show</a>
                      </li>
                      <li>
                          <a href="{{ path('ban_edit', { 'id': entity.id }) }}">edit</a>
                      </li>
                  </ul>
              </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>

  <ul>
      <li>
          <a href="{{ path('ban_new') }}">
              Create a new entry
          </a>
      </li>
  </ul>
{% endblock %}